{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="utf-8">
    <title>{% block title %}SMARTMoney Encashment Webtool{% endblock %}</title>
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ie-emulation-modes-warning.js' %}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="{% static 'datetime/jquery.datetimepicker.css' %}" rel="stylesheet">    
    <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet %}">    
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">SMARTMoney Encashment Webtool</a>
            </div>
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Manage</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script>
        var table = $('#logfile').DataTable({
                "ordering": false,
                "iDisplayLength": 8,
                "order": [[ 3, "desc" ]],
                "bStateSave": true,
                "sDom": 'rt<"row view-filter"<"col-sm-12"<"pull-left"p><"pull-right"f><"clearfix">>><"row view-pager"<"col-sm-12"<"text-center"i>>>'
        });
        $('.dataTables_filter input[type="search"]').
        css({'height':'33px','width':'380px','display':'inline-block'});
    </script>
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'datetime/jquery.datetimepicker.full.js' %}"></script>
    <script>$("#datetimepicker1").datetimepicker();$("#datetimepicker2").datetimepicker();</script>
</body>
</html>
