{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Admin Login{% endblock %}</title>
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'ie10-viewport-bug-workaround.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'ie-emulation-modes-warning.js' %}" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta http-equiv="refresh" content="60">
    <link href="{% static 'datetime/jquery.datetimepicker.css' %}" rel="stylesheet">    
    <!-- DataTables CSS -->
    <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet %}">    
    
    </head>
<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
            
            <a class="navbar-brand" href="{% url 'home' %}">SMARTMoney Encashment Webtool</a>
            </div>

            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Manage</a></li>
                        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <div>
        <form method="GET" class="navbar-form">
            <div class="form-group" style = "float: left;">
                <h5>Table shows from <strong>{{ message_list.last.timestamp }}</strong> up to <strong>{{ message_list.0.timestamp }}</strong> </h5>
            </div>
            <div style = "float: right;">
                <div class="form-group">
                    <input id="datetimepicker1"  name="datetimepicker1" type="text" class="form-control" placeholder="Start Date"/>
                </div>
                <div class="form-group">
                    <input id="datetimepicker2"  name="datetimepicker2" type="text" class="form-control" placeholder="End Date"/>
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-filter"></span>
                    Filter
                </button>
            </div>
        </form>
    </div>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/bootstrap.mis.js"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script>
        var table = $('#logfile').DataTable({
                "ordering": false,
                "lengthChange": false,
                "order": [[ 3, "desc" ]],
                "bStateSave": true,
                "sDom": 'rt<"row view-filter"<"col-sm-12"<"pull-left"p><"pull-right"f><"clearfix">>><"row view-pager"<"col-sm-12"<"text-center"i>>>'
        });

        $('.dataTables_filter input[type="search"]').
        attr('placeholder','Search everything in the Table ...').
        css({'height':'33px','width':'380px','display':'inline-block'});

    </script>
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'datetime/jquery.datetimepicker.full.js' %}"></script>
    <script>
        $("#datetimepicker1").datetimepicker();
        $("#datetimepicker2").datetimepicker();
    </script>
</body>
</html>
