{% extends 'base.html' %}

{% block title %}Ayannah{% endblock %}

{% block content %}
<div>
{% if user.is_authenticated %}
<div>
    <form method="GET" class="navbar-form">
        <div class="form-group" style = "float: left;">
            <h5>Table shows from <strong>{{ message_list.last.timestamp }}</strong> up to <strong>{{ message_list.0.timestamp }}</strong> </h5>
        </div>
        <div style = "float: right;">
            <div class="form-group">
                <input id="datetimepicker1"  name="datetimepicker1" type="text" class="form-control" placeholder="Start Date"/>
            </div>
            <div class="form-group">
                <input id="datetimepicker2"  name="datetimepicker2" type="text" class="form-control" placeholder="End Date"/>
            </div>
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-filter"></span>
                Filter
            </button>
        </div>
    </form>

    <p>
        <table id="logfile" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Message</th>
                    <th>Date/Time</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in message_list %}
                <tr>
                    <td>{{ msg.sender }}</td>
                    <td>{{ msg.receiver }}</td>
                    <td>{{ msg.raw }}</td>
                    <td>{{ msg.timestamp }}</td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </p>
{% else %}
    <p class="alert alert-warning">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    <strong>Message</strong>
        This system is for authorized personnel only. You need to enter your username and password to continue
    </p>
    <hr>
    <a class="btn btn-default btn-md" href="{% url 'login' %}">Continue &raquo;</a>
{% endif %}
</div>
{% endblock %}
